<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="UltimateQA" verbose="1">
    <test name="FormTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.ultimateQA.UltimateQAFormTest"/>
            <class name="tests.ultimateQA.UltimateQASignInTest"/>
        </classes>
    </test>
</suite>